$black: #0a1128;
$dark-blue: #001f54;
$blue: #034078;
$light-blue: #1282a2;
$white: #fefcfb;

$max-width: 1270px;
$main-font-family: "montserrat",
sans-serif;

$small-and-up: "screen and (min-width : 576px)";
$tablet-and-up: "screen and (min-width: 768px)";
$large-and-up: "screen and (min-width : 992px)";

$size-paragraph: 12px;
$size-small: 14px;
$size-regular: 16px;
$size-medium: 22px;
$size-semi-bold: 28px;
$size-bold: 40px;
$size-extra-bold: 64px;
